body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#livro-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

#livro-form input {
    margin-bottom: 10px;
    padding: 8px;
}

#livro-form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#livro-lista {
    list-style-type: none;
    padding: 0;
}

#livro-lista li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}